<div class="container">
    <div class="card">
        <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="<%= login_path %>">Login</a></li>
            <li class="tab"><a class="active" href="#cadastro">Cadastro</a></li>
        </ul>
        </div>
        <div class="card-content grey lighten-5">
        <div id="cadastro">
        
            <div class="center-align">
                <h3>Cadastre-se</h3>
                <p>Ora ora, quem temos por aqui... perde tempo não bora cadastrar logo!!!</p>
            </div>

            <%= form_for @user do |f|%>
                <% if @user.errors.any?%>
                    <div class="container">
                        <div class="col s12 m8">
                            <ul class="collection with-header">
                                <li class="collection-header"><b>Ops! algo de errado não está certo</b></li>
                                <% @user.errors.full_messages.each do |message|%>
                                    <li class="collection-item"><div> <%= message %><a class="secondary-content"><i class="material-icons">report_problem</i></a></div></li>
                                <%end%>
                            </ul>
                        </div>
                    </div>
                <%end%>
            
            <div class="container">
                    <div class="row">
                            <div class="input-field col s12">
                            <%= f.label :nome%>
                            <%= f.text_field :name%>
                        </div></div>

                        <div class="row">
                            <div class="input-field col s12">
                            <%= f.label :email%>
                            <%= f.text_field :email%>
                        </div></div>

                        <div class="row">
                            <div class="input-field col s12">
                                
                                <%= f.select :sex, ['Masculino','Feminino','Intersex'] %>
                                <%= f.label :sexo%>
                            </div>
                        </div
                        >
                        <div class="row">
                            <div class="input-field col s12">
                            <%= f.label :senha%>
                            <%= f.password_field :password%>
                        </div></div>

                        <div class="row">
                            <div class="input-field col s12">
                            <%= f.label :'confirme a senha'%>
                            <%= f.password_field :password_confirmation%>
                        </div></div>

                        <div class="actions center-align">
                            <%= f.submit  'Cadastrar', :class=>"btn waves-effect waves-light"%>
                        </div>
                    </div>
                </div>
            <%end%>
        
        </div>
        </div>
    </div>
</div>


