<%= render partial: "/layouts/navbar"%>
<div class="container">

<p id="notice"><%= notice %></p>

<h2>Todas as Enquetes</h2>

<% @enqueues.each do |enqueue| %>
    <div class="row">
        <div class="col s12 m4 grey lighten-4">
        </div>
        <div class="col s12 m8">
          <div class="row">
            <h4><%=enqueue.title%></h4>
          </div>
          <div class="row">
            <h5><%= enqueue.user.nome%></h5> - <p><%= enqueue.created_at.to_date %></p>
          </div>
          <div class="row">
            <p class="grey-text">
              <%= enqueue.text.truncate(120, omission: '... Ler Mais')%>
            </p>
          </div>
          <%= link_to 'Show', enqueue %>
          <% if @current_user == enqueue.user.id %>
            <%= link_to 'Editar', edit_enqueue_path(enqueue) %>
            <%= link_to 'Excluir', enqueue, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
    </div>
 <% end %>
  

<%= link_to 'New Enqueue', new_enqueue_path %>
</div>